body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Raleway';
}
.article-featured {
    border: 1px solid black;
    padding: 1em;
    display: flex;
    flex-direction: column;
}
.article-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.article-body {
    font-size:.75rem;
}
.article-read-more {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .5rem;
    text-decoration: none;
    margin-bottom: 1em;;
}
.article-info {
    font-size: .5rem;
}

