body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Raleway';
}
/* TYPOGRAPHY */
.title {
    text-align: center;
}
.article-title {
    margin: 0;
    font-size: 1.2rem;
}
.article-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.article-body {
    font-size:.75rem;
}
.article-read-more {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .5rem;
    text-decoration: none;
}
.article-info {
    font-size: .5rem;
}
/* WHOLE LAYOUT */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 1em;
}
.title {
    grid-column: 1/-1;
}
/* ARTICLE LAYOUT */
.article-recent{
    /* border: 1px solid black; */
    margin: 1em 0;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 0 1em;
    grid-template-areas: 
    "image image"
    "title title"
    "info."
    "body body"
    "readmore .";
}
.article-image      {grid-area: image;}
.article-title      {grid-area: title;}
.article-body       {grid-area: body;}
.article-read-more  {grid-area: readmore;}
.article-info       {grid-area: info;}

/* @media (min-width: 500px) {
    .article-recent{
        grid-template-columns: minmax(150px, 250px) minmax(250px, 1fr);
        grid-template-areas: 
        "image title"
        "image body"
        "image readmore"
        "info .";
    }
    .article-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .article-info{
        justify-self: start;
    }
} */